.chat-container {
  width: 600px;
}

.message-history {
  margin: 4px;
  padding: 2px;

  height: 20vh;

  background-color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.message-history__element {
  overflow-wrap: anywhere;
}
.message-history__element__sender--other {
  color: red;
}
.message-history__element__sender--self {
  color: blue;
}
.message-history__element__sender {
  font-weight: bold;
  margin-right: 2px;
}
.message-composer {
  display: flex;
  flex-direction: column;
}
.message-composer__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4px;

  margin: 4px;
}
.message-composer__textarea {
  margin: 4px;
  padding: 2px;

  height: 12vh;

  background-color: white;
}
.message-composer__options {
  display: flex;
  width: 100%;
  padding: 0 2px 0 2px;
}
.message-composer__option-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.message-composer__option {
  height: 72px;
  margin: 4px;
  flex-grow: 1;
}
