<div class="window window-chat">
  <div class="window__titlebar">
    <div class="icon window__titlebar-icon">
      💬
    </div>
    <div class="label window__titlebar-label">
      Instant Message
    </div>
    <div class="button icon-button centered window__titlebar-button">
      _
    </div>
    <div class="button icon-button centered window__titlebar-button">
      ⧠
    </div>
    <div class="button warning centered icon-button window__titlebar-button">
      X
    </div>
  </div>
  <div class="under-ridged menu window__menu">
    <div class="menu-item">
      File
    </div>
    <div class="menu-item">
      Edit
    </div>
    <div class="menu-item">
      Insert
    </div>
    <div class="menu-item">
      People
    </div>
  </div>
  <div class="ridged message-history">
    <div class="message-history__element">
      <span class="user-input message-history__element__sender message-history__element__sender--self">jman:</span>
      <span class="user-input message-history__element__content">hey</span>
    </div>
    <div class="message-history__element">
      <span class="user-input message-history__element__sender message-history__element__sender--other">banannas:</span>
      <span class="user-input message-history__element__content">aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </span>
    </div>
  </div>
  <div class="message-composer">
    <div class="grooved toolbar message-composer__toolbar">
      <button class="toolbar-item toolbar-item--active" title="Make text bold">B</button>
      <button class="toolbar-item" title="Increase text size">Aꜛ</button>
      <button class="toolbar-item" title="Decrease text size">Aꜜ</button>
    </div>
    <textarea class="ridged user-input message-composer__textarea">sup</textarea>
    <div class="menu message-composer__options">
      <div class="grooved message-composer__option-group">
        <div class="centered message-composer__option">
          ?
        </div>
        <div class="centered message-composer__option">
          Warn
        </div>
        <div class="centered message-composer__option">
          Block
        </div>
      </div>
      <div class="grooved message-composer__option-group">
        <div class="centered message-composer__option">
          Add Buddy
        </div>
        <div class="centered message-composer__option message-composer__option--inactive">
          Add Talk
        </div>
        <div class="centered message-composer__option">
          Get Info
        </div>
      </div>
      <div class="grooved message-composer__option-group">
        <div class="centered message-composer__option">
          Send
        </div>
      </div>
    </div>
  </div>
</div>
