* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu {
  font-size: small;
}
.toolbar-item {
  border: none;
  background-color: transparent;

  width: 24px;
  height: 24px;
}
.toolbar-item--active {
  background-color: black;
  color: lightgray;
}
.toolbar-item:active {
  background-color: gainsboro;
  color: black;
}
.user-input {
  font-family: serif;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning {
  background-color: red;
  color: white;
}
.ridged {
  border-style: ridge;
  border-width: 2px 0 0 2px;
  border-color: darkgray;
}
.under-ridged {
  border-style: groove;
  border-width: 0 0 2px 0;
}
.grooved {
  border-width: 2px;
  border-style: groove;
  border-radius: 2px;
}
.icon-button {
  box-sizing: border-box;
  padding: 6px;
  height: 24px;
  width: 24px;

  display: flex;
  justify-self: center;
  align-items: center;

  border-radius: 4px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}
.window {
  border-width: 3px;
  border-color: rgb(0, 98, 255) blue blue blue;
  border-style: ridge;
  border-radius: 4px;

  background-color: lightgray;

  display: flex;
  flex-direction: column;
}
.window-chat {
  width: 600px;
}
.window__titlebar-icon {
  padding: 0 2px 0 2px;
}
.window__titlebar {
  background-color: blue;
  color: white;

  padding-top: 4px;
  padding-bottom: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1px;
}
.window__titlebar-label {
  margin-right: auto;
}

.window__menu {
  display: flex;
  column-gap: 1px;
}
.menu-item {
  padding: 2px;
}
.message-history {
  margin: 4px;
  padding: 2px;

  height: 20vh;

  background-color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.message-history__element {
  overflow-wrap: anywhere;
}
.message-history__element__sender--other {
  color: red;
}
.message-history__element__sender--self {
  color: blue;
}
.message-history__element__sender {
  font-weight: bold;
  margin-right: 2px;
}
.message-composer {
  display: flex;
  flex-direction: column;
}
.message-composer__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4px;

  margin: 4px;
}
.message-composer__textarea {
  margin: 4px;
  padding: 2px;

  height: 12vh;

  background-color: white;
}
.message-composer__options {
  display: flex;
  width: 100%;
  padding: 0 2px 0 2px;
}
.message-composer__option-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.message-composer__option {
  height: 72px;
  margin: 4px;
  flex-grow: 1;
}
