<div class="login-container">
  <app-window icon="🔑" label="Sign Up">
    <div class="login-window-pane">
      <div class="under-ridged logo-container">
        <div class="logo-icon">🏃</div>
        <div class="logo-label">Angular Instant Messenger</div>
      </div>
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="signup()">
        <label for="username"> Username🔑 </label>
        <input required id="username" formControlName="username" />
        <label for="password"> Password </label>
        <input
          required
          id="password"
          type="password"
          formControlName="password"
        />
        <button
          class="grooved icon-button"
          type="submit"
          [disabled]="signUpForm.invalid"
        >
          <div class="icon-button__icon">🏃</div>
          <div class="icon-button__label">Sign Up</div>
        </button>
      </form>
    </div>
  </app-window>
</div>
